@import "@fontsource-variable/manrope";
@import "@fontsource/anton";
@import "recipe-card.css";

:root {
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #ececec;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --yellow: #ffd15b;
    --black: #1b1b1b;
    --white: #ececec;
    --grey: #7a7a7a;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1 {
    font-family: "Anton", sans-serif;
    font-size: 44px;
    font-weight: 400;
    line-height: 66px;
    color: var(--yellow);
    text-transform: uppercase;
}

.LPP-main {
    height: 100vh;
    background: url("/photos/Recette18.webp") no-repeat center;
    background-size: cover;
}

.Back-filter {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#searchbar {
    padding: 24px 32px;
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--black);
    background-color: var(--white);
    border-radius: 10px;
    border: 2px solid var(--white);
    width: 100%;
    box-sizing: border-box;
    outline: none;
    transition: all 0.1s ease;
}

#searchbar:focus {
    border-color: var(--yellow);
    box-shadow: 0 0 4px var(--yellow);
}

header {
    display: block;
    position: absolute;
    top: 50px;
    left: 70px;
}

header .Site-logo {
    width: 180px;
    height: auto;
}

.main-title {
    width: 50%;
    text-align: center;
}

.searchbar {
    width: 60vw;
    position: relative;
}

.searchbar button {
    background-color: #1b1b1b;
    color: var(--white);
    border: none;
    border-radius: 10px;
    padding: 12px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.page-content {
    padding: 2rem 10vw;
}

.filters-selectors {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 55px;
}

.assurance-title {
    font-family: "Anton", sans-serif;
    font-size: 21px;
    color: var(--black);
}

.filters-selectors > ul {
    display: flex;
    color: var(--black);
    font-family: "Manrope Variable", sans-serif;
    font-size: 16px;
    gap: 2rem;
}

ul {
    list-style-type: none;
}

.filter-button {
    padding: 16px;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}

.filter-button select {
    background-color: #ececec;
    border: none;
    color: #1b1b1b;
    width: 120px;
}

.selector-label {
    text-transform: uppercase;
}

.filter-button ul {
    overflow: auto;
    max-height: 400px;
}

.recipes-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, 380px));
    column-gap: 32px;
    row-gap: 66px;
}

.selected-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 24px;
}

.selected-list-item {
    background-color: #ffd15b;
    padding: 18px;
    border-radius: 8px;
    color: #1b1b1b;
    font-family: "Manrope", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    text-transform: capitalize;
}

.selected-list-item-suppr {
    width: 20px;
    height: 20px;
}

/* Navbar */
/*ul {

.no-recipes-message {
  text-align: center;
  color: #b00;
  background: #fffbe6;
  font-family: "Manrope", sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  border-radius: 8px;
  padding: 2em 1em;
  margin: 3em auto;
  max-width: 400px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.07);
}
    list-style-type: none;
}

nav {
    color: var(--black);
    font-family: "Manrope Variable", sans-serif;
    font-size: 16px;
}

nav ul li {
    float: left;
    text-align: center;
    position: relative;
}

nav ul::after {
    content: "";
    display: table;
    clear: both;
}

nav a {
    display: block;
    text-decoration: none;
    color: var(--black);
    border-bottom: 2px solid transparent;
    padding: 10px 0;

}

nav a:hover {
    color: var(--yellow);
    border-bottom: 2px solid var(--yellow);
}

.sous {
    display: none;
    box-shadow: 0 1px 2px #CCC;
    background-color: var(--white);
    position: absolute;
    width: 100%;
    z-index: 100;

}

nav.open > ul li .sous {
    display: block;
}

.sous li {
    float: none;
    width: 100%;
    text-align: left;
}

.sous a {
    padding: 10px;
    border-bottom: none;
}

.sous a:hover {
    border-bottom: none;
    color: var(--white);
    background-color: var(--yellow);
}

.sous .inner-searchbar input{
    width: 100%;
}*/
